examples/openai-user-node-exampe.json
[
    {
        "id": "1fa43f81455fbfaa",
        "type": "GeminiAI Chat",
        "z": "9b143868e984b7d2",
        "name": "",
        "tool_choice": [
            {
                "value": "auto",
                "label": "Automatic"
            },
            {
                "value": "any",
                "label": "Any"
            },
            {
                "value": "none",
                "label": "None"
            }
        ],
        "conversation_id": "",
        "token": "",
        "model": "gemini-1.5-flash",
        "temperature": 0.7,
        "max_tokens": 1200,
        "top_p": 1,
        "top_k": 16,
        "x": 980,
        "y": 1040,
        "wires": [
            [
                "743157a166429126"
            ]
        ]
    },
    {
        "id": "02b5d6d18a1d0464",
        "type": "LocalAI Chat",
        "z": "9b143868e984b7d2",
        "name": "",
        "local_settings": "d2693fb6d73b277d",
        "conversation_id": "",
        "model": "HomeAssistantAI:latest",
        "temperature": 0.7,
        "max_tokens": 1200,
        "top_p": 1,
        "frequency_penalty": 0,
        "presence_penalty": 0,
        "stream": false,
        "keep_alive": 5,
        "seed": 42,
        "json": false,
        "x": 990,
        "y": 1000,
        "wires": [
            [
                "666c8eec91e99263"
            ]
        ]
    },
    {
        "id": "4629835899ef6a94",
        "type": "inject",
        "z": "9b143868e984b7d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "test",
                "v": "foobar",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 620,
        "y": 1040,
        "wires": [
            [
                "34bc5dbf3f85c1c6"
            ]
        ]
    },
    {
        "id": "8c4e6be9d8f809b2",
        "type": "debug",
        "z": "9b143868e984b7d2",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 1040,
        "wires": []
    },
    {
        "id": "34bc5dbf3f85c1c6",
        "type": "OpenAI User",
        "z": "9b143868e984b7d2",
        "name": "",
        "content": "What color is the sky",
        "x": 770,
        "y": 1040,
        "wires": [
            [
                "265bcb5f2a387d15",
                "02b5d6d18a1d0464",
                "1fa43f81455fbfaa"
            ]
        ]
    },
    {
        "id": "265bcb5f2a387d15",
        "type": "OpenAI Chat",
        "z": "9b143868e984b7d2",
        "name": "",
        "tool_choice": "auto",
        "conversation_id": "",
        "token": "",
        "model": "gpt-3.5-turbo",
        "temperature": 0.7,
        "max_tokens": 1200,
        "top_p": 1,
        "frequency_penalty": 0,
        "presence_penalty": 0,
        "x": 980,
        "y": 1080,
        "wires": [
            [
                "1fcf3793f61d08cf"
            ]
        ]
    },
    {
        "id": "743157a166429126",
        "type": "OpenAI Response",
        "z": "9b143868e984b7d2",
        "name": "",
        "x": 1180,
        "y": 1040,
        "wires": [
            [
                "8c4e6be9d8f809b2"
            ]
        ]
    },
    {
        "id": "4aec75bc6fa6f5a8",
        "type": "comment",
        "z": "9b143868e984b7d2",
        "name": "Example: Simple question to GPT, Gemini, and Local LLM with only the OpenAI User node",
        "info": "",
        "x": 990,
        "y": 960,
        "wires": []
    },
    {
        "id": "0dd4a932f110a383",
        "type": "debug",
        "z": "9b143868e984b7d2",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 1080,
        "wires": []
    },
    {
        "id": "1fcf3793f61d08cf",
        "type": "OpenAI Response",
        "z": "9b143868e984b7d2",
        "name": "",
        "x": 1180,
        "y": 1080,
        "wires": [
            [
                "0dd4a932f110a383"
            ]
        ]
    },
    {
        "id": "d72b07737e957317",
        "type": "debug",
        "z": "9b143868e984b7d2",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 1000,
        "wires": []
    },
    {
        "id": "666c8eec91e99263",
        "type": "OpenAI Response",
        "z": "9b143868e984b7d2",
        "name": "",
        "x": 1180,
        "y": 1000,
        "wires": [
            [
                "d72b07737e957317"
            ]
        ]
    },
    {
        "id": "d2693fb6d73b277d",
        "type": "localai-configuration",
        "url": "http://10.0.0.40/"
    }
]